@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Usa 100% da largura da viewport */
  height: 100vh; /* Usa 100% da altura da viewport */
  background-image: url("/images/neon.jpg");
  background-color: #000; /* Cor de fundo para evitar áreas brancas */
  background-size: cover; /* Garante que a imagem cubra a tela */
  background-position: center;
  z-index: -1; /* Fica atrás do conteúdo */
  filter: blur(10px); /* Aplica o efeito de desfoque */
}
